.about .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
    gap: 33px;
    /* padding-bottom: var(--padding-bottom);
    padding-top: var(--padding-top);
    background: var(--background-each-section); */
}

@media(max-width:991.9px) {
    .about .container {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
        gap: 40px;
        text-align: center;
    }
}

.about .container .image img {
    width: 100%;
}