.login-container {
  background-image: url('../../assets/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0;
}

.login-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px;
}

.login-container .container .left-box {
  width: 44%;
  position: relative;
  padding: 0 30px;
}

.login-container .container .left-box > h1 {
  color: #3bac62;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  margin-bottom: 15px !important;
}

.login-container .container .left-box form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .container .left-box form .google {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #6c7770;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  color: #3bac62;
  font-size: 19px;
  font-weight: 500;
}

.login-container .container .left-box form .google img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.login-container .container .left-box form p:first-of-type {
  text-align: center;
  position: relative;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  color: #b1dec0;
  width: 100%;
}

.login-container .container .left-box form p:first-of-type::after,
.login-container .container .left-box form p:first-of-type:before {
  position: absolute;
  content: '';
  width: 40%;
  height: 1px;
  top: 50%;
  background-color: #b1dec0;
}

.login-container .container .left-box form p:first-of-type::after {
  left: 0;
}

.login-container .container .left-box form p:first-of-type:before {
  right: 0;
}

.login-container .container .left-box form label,
.login-container .container .left-box form p:last-of-type {
  align-self: flex-start;
}

.login-container .container .left-box form p:last-of-type {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.login-container .container .left-box form p:last-of-type a {
  color: #3bac62;
}

.login-container .container .left-box form select {
  text-align: center;
  padding: 10px;
}

.login-container .container .left-box form select,
.login-container .container .left-box form input:not([type='submit']) {
  width: 100%;
  margin-bottom: 20px;
  border-color: #6c7770;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.login-container .container .left-box form select:focus,
.login-container .container .left-box form input:not([type='submit']):focus {
  outline: none;
}

.login-container .container .left-box form input[type='submit'] {
  padding: 9px 29px;
  width: 100px;
}

.login-container .container .left-box::after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  left: 110%;
  top: 0;
  background-color: #b1dec0;
}

.login-container .container .right-box {
  width: 40%;
}

.login-container .container .right-box h3 {
  color: #3bac62;
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 20px !important;
}

.login-container .container .right-box p {
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  color: #565f5a;
}

@media (max-width: 991px) {
  .login-container .container .right-box {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login-container .container {
    flex-direction: column;
    gap: 60px 0;
  }

  .login-container .container .left-box {
    width: 100%;
  }

  .login-container .container .left-box::after {
    display: none;
  }
  .login-container .container .left-box form {
    width: 100%;
  }
  .login-container .container .right-box {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .login-container .container .left-box {
    padding: 0;
  }
}
